@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans:wght@300&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  height: 230vh;
}

.login-modal-wrapper {
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 90%;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.login-modal-wrapper .login-modal {
  border-radius: 20px;
  text-align: center;
  width: 380px;
  height: 440px;
  position: absolute;
  top: 80px;
  left: calc(50% - 190px);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-modal-wrapper .login-modal .login-logo-img {
  border: 2px solid #01e89e;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}
.login-modal-wrapper .login-modal .login-heading {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 60px;
  padding: 12px;
}
.login-modal-wrapper .login-modal .login-text {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  color: #9AAD84;
  line-height: 1.7;
  padding: 12px;
  margin-bottom: 30px;
}
.login-modal-wrapper .login-modal .login-button-wrapper {
  width: 298px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.login-modal-wrapper .login-modal .login-button-wrapper .login-button {
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 9px rgb(189, 186, 186);
}
.login-modal-wrapper .login-modal .login-button-wrapper .login-button-google {
  background-image: url("../assets/google-login-button-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}
.login-modal-wrapper .login-modal .login-button-wrapper .login-button-kakao {
  background-image: url("../assets/kakao-login-button-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}
.login-modal-wrapper .login-modal .login-button-wrapper .login-button-naver {
  background-image: url("../assets/naver-login-button-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}

.main-header {
  border-bottom: 2px solid #01e89e;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-header-left-col {
  margin-left: 20px;
}
.main-header-left-col .main-header-logo-img {
  border: 2px solid #01e89e;
  width: 60px;
  height: 60px;
}
.main-header-link {
  width: 400px;
  height: 70px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-header-link > a {
  font-size: 25px;
  font-family: "IBM Plex Sans KR", sans-serif;
  color: black;
  text-decoration: none;
}
.main-header-right-col {
  margin-right: 20px;
  width: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-header-right-col Button {
  cursor: pointer;
}
.main-header-right-col .main-header-user-profile-img {
  border: 2px solid #01e89e;
  border-radius: 35%;
  background-color: #01e89e;
  width: 40px;
  height: 40px;
  background-image: url("../assets/profile-default-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}
.main-header-login-col Button {
  margin-left: auto;
}

.button {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 20px;
  background-color: white;
  color: #01E89E;
  border-radius: 45px;
  border: 2px solid #01E89E;
  padding: 5px 25px;
  cursor: pointer;
}
.button_positive {
  color: white;
  background-color: #01E89E;
}

/* ManagementHeader */
.management-header {
  width: 1150px;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  border: 2px solid #01e89e;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.management-header div a {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 25px;
  color: black;
  padding: 30px;
}

.myproject-header {
  height: 200px;
  background-color: #01e89e;
  border-end-start-radius: 80px;
  border-end-end-radius: 80px;
  font-family: "IBM Plex Sans KR", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.myproject-header-left {
  margin-left: 70px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.myproject-header-left-participation-project {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 40px;
  color: white;
  margin-right: 30px;
}
.myproject-header-right {
  margin-right: 70px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.myproject-header-right-total-btn {
  margin-right: 30px;
}

.my-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 배경을 반투명하게 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-modal-content {
  border-radius: 40px;
  background-color: white;
  width: 600px;
  height: 500px;
  padding: 16px;
}
.my-modal-content .close-modal-btn {
  font-size: 40px;
  float: right;
  cursor: pointer;
}

.button2 {
  background-color: white;
  border-radius: 47px;
  border: 0 solid #7a7a7a;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* MEETING RECORD MANAGEMENT */
.meeting-record {
  /* MEETING RECORD LIST EDITOR */
  /* MEETING RECORD SELECTED MEETING RECORD */
  /* MEETING RECORD BOOK MARKED RECORD LIST */
  /* ALL MEETING RECORD LIST */
  /* MEETING RECORD ITEM */
}
.meeting-record-management {
  border: 2px solid #01e89e;
  height: 200vh;
  width: 1150px;
  display: flex;
  justify-content: space-between;
  border-radius: 35px;
  background-color: #01e89e;
  margin-left: auto;
  margin-right: auto;
}
.meeting-record-management .meeting-record-heading {
  color: white;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 25px;
}
.meeting-record-list {
  width: 35%;
  padding: 10px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}
.meeting-record-list-editor {
  width: 65%;
  padding: 10px;
  border-radius: 35px;
  background-color: white;
  /* MEETING RECORD NEW MEETING RECORD */
}
.meeting-record-list-editor .meeting-record-new-meeting-record {
  height: 100%;
}
.meeting-record-list-editor .meeting-record-new-meeting-record-editor {
  height: 100%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.meeting-record-list-editor .meeting-record-new-meeting-record-editor .meeting-record-heading {
  color: #01E89E;
  margin-bottom: 30px;
}
.meeting-record-list-editor .meeting-record-new-meeting-record-editor .meeting-record-initial-state {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meeting-record-list-editor .meeting-record-content-editor {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.meeting-record-list-editor .meeting-record-content-editor .react-quill {
  margin-top: 20px;
  margin-bottom: 80px;
  width: 100%;
  height: 73%;
}
.meeting-record-list-editor .meeting-record-content-editor .meeting-record-writer {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.meeting-record-list-editor .meeting-record-content-editor .meeting-record-writer h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  margin-right: 10px;
}
.meeting-record-list-editor .meeting-record-content-editor .meeting-record-writer .control-menu {
  border: 2px solid #01e89e;
  color: black;
}
.meeting-record-list-editor .meeting-record-content-editor .meeting-record-title {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.meeting-record-list-editor .meeting-record-content-editor .meeting-record-title h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  margin-right: 10px;
}
.meeting-record-list-editor .meeting-record-content-editor .meeting-record-title input {
  width: 91%;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 20px;
  border-radius: 45px;
  border: 2px solid #01E89E;
  padding: 5px 25px;
  margin-left: auto;
}
.meeting-record-list-editor .meeting-record-content-editor .meeting-record-button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.meeting-record-list-editor .meeting-record-content-editor .meeting-record-button-wrapper .meeting-record-button-right-col {
  width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.meeting-record-selected-meeting-record {
  height: 100%;
}
.meeting-record-book-marked-record-list {
  padding-top: 10px;
  margin-bottom: 10px;
  height: 38%;
}
.meeting-record-book-marked-record-list .meeting-record-heading {
  height: 40px;
  margin-bottom: 20px;
  padding: 5px;
}
.meeting-record-book-marked-record-list .meeting-record-body {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meeting-record-book-marked-record-list .meeting-record-body .meeting-record-all-meeting-record-list-data {
  height: 80%;
}
.meeting-record-all-meeting-record-list {
  height: 56%;
}
.meeting-record-all-meeting-record-list-header {
  width: 370px;
  height: 100px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.meeting-record-all-meeting-record-list-header .header-left-col {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.meeting-record-all-meeting-record-list-header .header-right-col {
  margin-left: auto;
}
.meeting-record-all-meeting-record-list-item-wrapper {
  padding-top: 20px;
  height: 615px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.meeting-record-item {
  background-color: white;
  margin-bottom: 10px;
  border-radius: 20px;
  width: 370px;
  height: 120px;
  padding: 10px 20px;
  color: #7A7A7A;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.meeting-record-item-date {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
}
.meeting-record-item-title {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 25px;
}
.meeting-record-item-writer {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
}

.control-menu {
  width: 135px;
  height: 40px;
  border-radius: 55px;
  border: none;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 20px;
  color: #01E89E;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  appearance: none;
  background-image: url("../assets/select-arrow-img.png");
  background-position: 88%;
  background-repeat: no-repeat;
  background-size: 10%, 10%;
}
.control-menu::-ms-expand {
  display: none; /*for IE10,11*/
}

.pagination {
  width: 250px;
  margin-top: 8px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pagination button {
  border: none;
  cursor: pointer;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 20px;
  color: white;
  background-color: transparent;
}
.pagination ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pagination ul .pagination-page-number-on {
  cursor: pointer;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 25px;
  color: white;
  padding: 5px;
}
.pagination ul .pagination-page-number {
  cursor: pointer;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 20px;
  color: white;
  padding: 5px;
}

.project-list {
  background-color: white;
  margin-top: 30px;
}
.project-list-pagination {
  margin-top: 50px;
}

.pagination {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.pagination li {
  margin-right: 50px;
  font-size: 20px;
  font-family: "IBM Plex Sans KR", sans-serif;
}
.pagination li:hover {
  cursor: pointer;
}

.pagination_active a {
  font-weight: bold;
  color: #01e89e;
}

.pagination_disabled a {
  color: #6c757d;
  pointer-events: none;
}

.project-item {
  width: 800px;
  background-color: #ffffff;
  margin-bottom: 30px;
  padding: 30px;
  border: 2px solid #01e89e;
  border-radius: 35px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.project-item-thumbnail {
  background-color: gray;
  width: 100px;
  height: 100px;
  border-radius: 45px;
}
.project-item-info {
  width: 600px;
  margin-left: 30px;
}
.project-item-info-title {
  font-weight: bold;
  font-size: 25px;
  font-family: "Noto Sans KR", sans-serif;
}
.project-item-info-content {
  margin-top: 20px;
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
}
.project-item-info-date {
  margin-top: 20px;
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  float: right;
}

.new-project-editor {
  text-align: center;
  padding: 20px;
}
.new-project-editor h2 {
  margin-bottom: 30px;
}
.new-project-editor-head {
  font-size: 25px;
  font-family: "IBM Plex Sans KR", sans-serif;
}
.new-project-editor-title input,
.new-project-editor-title textarea, .new-project-editor-content input,
.new-project-editor-content textarea {
  margin-bottom: 30px;
  padding: 15px;
  width: 400px;
}
.new-project-editor-title textarea, .new-project-editor-content textarea {
  height: 200px;
}
.new-project-editor-button Button {
  text-align: center;
  margin: 10px;
}

.evaluation-management {
  height: 180vh;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
}
.evaluation-management-ranking-wrapper {
  height: 77vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.evaluation-management-ranking-wrapper .evaluation-management-show-evaluation-ranking {
  border: 2px solid #01e89e;
  border-radius: 30px;
  margin-right: 10px;
  height: 100%;
  width: 65%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking {
  height: 100%;
  width: 35%;
  margin-left: 10px;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-header {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 25px;
  color: #01E89E;
  padding: 10px;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-body {
  height: calc(100% - 45px);
  background-color: #01E89E;
  border-radius: 25px;
  padding: 30px;
  padding-bottom: 5px;
  overflow-y: scroll;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-body .evaluation-management-evaluation-ranking-item {
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 26px;
  background-color: white;
  height: 104px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-body .evaluation-management-evaluation-ranking-item .evaluation-management-left-col {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-body .evaluation-management-evaluation-ranking-item .evaluation-management-left-col figure {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background-image: url("../assets/ranking-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-body .evaluation-management-evaluation-ranking-item .evaluation-management-left-col .ranking {
  color: #01E89E;
  font-size: 25px;
  font-family: "IBM Plex Sans KR", sans-serif;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-body .evaluation-management-evaluation-ranking-item .evaluation-management-right-col {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-body .evaluation-management-evaluation-ranking-item .evaluation-management-right-col .name {
  font-size: 25px;
  font-family: "IBM Plex Sans KR", sans-serif;
  color: #01E89E;
  margin-bottom: 4px;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-body .evaluation-management-evaluation-ranking-item .evaluation-management-right-col .score {
  font-size: 15px;
  font-family: "Noto Sans KR", sans-serif;
  color: #7A7A7A;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-body .evaluation-management-evaluation-ranking-item_1 .evaluation-management-left-col figure {
  background-image: url("../assets/ranking-1-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85%, 85%;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-body::-webkit-scrollbar {
  display: none;
}
.evaluation-management-participant-wrapper {
  border: 2px solid green;
  height: 100vh;
}/*# sourceMappingURL=fullcare.css.map */