@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans:wght@300&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.login-modal-wrapper {
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 90%;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.login-modal-wrapper .login-modal {
  border-radius: 20px;
  text-align: center;
  width: 380px;
  height: 440px;
  position: absolute;
  top: 80px;
  left: calc(50% - 190px);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-modal-wrapper .login-modal .login-logo-img {
  border: 2px solid #01e89e;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}
.login-modal-wrapper .login-modal .login-heading {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 40px;
  padding: 12px;
}
.login-modal-wrapper .login-modal .login-text {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  color: #9AAD84;
  line-height: 1.7;
  padding: 12px;
  margin-bottom: 30px;
}
.login-modal-wrapper .login-modal .login-button-wrapper {
  width: 298px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.login-modal-wrapper .login-modal .login-button-wrapper .login-button {
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 9px rgb(189, 186, 186);
}
.login-modal-wrapper .login-modal .login-button-wrapper .login-button-google {
  background-image: url("../assets/google-login-button-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}
.login-modal-wrapper .login-modal .login-button-wrapper .login-button-kakao {
  background-image: url("../assets/kakao-login-button-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}
.login-modal-wrapper .login-modal .login-button-wrapper .login-button-naver {
  background-image: url("../assets/naver-login-button-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}

.main-header {
  border-bottom: 2px solid #01e89e;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-header-left-col {
  margin-left: 20px;
}
.main-header-left-col .main-header-logo-img {
  border: 2px solid #01e89e;
  width: 60px;
  height: 60px;
}
.main-header-link {
  width: 400px;
  height: 70px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-header-link > a {
  font-size: 25px;
  font-family: "IBM Plex Sans KR", sans-serif;
  color: black;
  text-decoration: none;
}
.main-header-right-col {
  margin-right: 20px;
  width: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-header-right-col Button {
  cursor: pointer;
}
.main-header-right-col .main-header-user-profile-img {
  border: 2px solid #01e89e;
  border-radius: 35%;
  background-color: #01e89e;
  width: 40px;
  height: 40px;
  background-image: url("../assets/profile-default-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}
.main-header-login-col Button {
  margin-left: auto;
}

.button {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 20px;
  background-color: white;
  color: #01E89E;
  border-radius: 45px;
  border: 2px solid #01E89E;
  padding: 5px 25px;
  cursor: pointer;
}
.button_positive {
  color: white;
  background-color: #01E89E;
  border: 2px solid #01E89E;
}
.button_positive_dark {
  color: white;
  background-color: #00AA72;
  border: 2px solid #00AA72;
}

/* ManagementHeader */
.management-detail-header {
  width: 1150px;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  border: 2px solid #01e89e;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.management-detail-header div a {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 25px;
  color: black;
  padding: 30px;
}

/* MEETING RECORD MANAGEMENT */
.meeting-record {
  /* MEETING RECORD LIST EDITOR */
  /* MEETING RECORD SELECTED MEETING RECORD */
  /* MEETING RECORD BOOK MARKED RECORD LIST */
  /* ALL MEETING RECORD LIST */
  /* MEETING RECORD ITEM */
}
.meeting-record-management {
  border: 2px solid #01e89e;
  height: 200vh;
  width: 1150px;
  display: flex;
  justify-content: space-between;
  border-radius: 35px;
  background-color: #01e89e;
  margin-left: auto;
  margin-right: auto;
}
.meeting-record-management .meeting-record-heading {
  color: white;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 25px;
}
.meeting-record-list {
  width: 35%;
  padding: 10px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}
.meeting-record-list-editor {
  width: 65%;
  padding: 10px;
  border-radius: 35px;
  background-color: white;
  /* MEETING RECORD NEW MEETING RECORD */
}
.meeting-record-list-editor .meeting-record-new-meeting-record {
  height: 100%;
}
.meeting-record-list-editor .meeting-record-new-meeting-record-editor {
  height: 100%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.meeting-record-list-editor .meeting-record-new-meeting-record-editor .meeting-record-heading {
  color: #01E89E;
  margin-bottom: 30px;
}
.meeting-record-list-editor .meeting-record-new-meeting-record-editor .meeting-record-initial-state {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meeting-record-list-editor .meeting-record-not-edited-record {
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 20px;
}
.meeting-record-list-editor .meeting-record-not-edited-record .meeting-record-body {
  height: 96%;
}
.meeting-record-list-editor .meeting-record-not-edited-record .meeting-record-body h1 {
  margin-bottom: 20px;
}
.meeting-record-list-editor .meeting-record-not-edited-record .meeting-record-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.meeting-record-list-editor .meeting-record-not-edited-record .meeting-record-button-wrapper .button-wrapper-right-col {
  width: 310px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.meeting-record-list-editor .meeting-record-edited-record {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  height: 100%;
  padding: 20px;
}
.meeting-record-list-editor .meeting-record-edited-record h1 {
  margin-bottom: 20px;
}
.meeting-record-list-editor .meeting-record-content-editor {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.meeting-record-list-editor .meeting-record-content-editor .react-quill {
  margin-top: 20px;
  margin-bottom: 80px;
  width: 100%;
  height: 73%;
}
.meeting-record-list-editor .meeting-record-content-editor .meeting-record-writer {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.meeting-record-list-editor .meeting-record-content-editor .meeting-record-writer h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  margin-right: 10px;
}
.meeting-record-list-editor .meeting-record-content-editor .meeting-record-writer .control-menu {
  border: 2px solid #01e89e;
  color: black;
}
.meeting-record-list-editor .meeting-record-content-editor .meeting-record-title {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.meeting-record-list-editor .meeting-record-content-editor .meeting-record-title h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  margin-right: 10px;
}
.meeting-record-list-editor .meeting-record-content-editor .meeting-record-title input {
  width: 91%;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 20px;
  border-radius: 45px;
  border: 2px solid #01E89E;
  padding: 5px 25px;
  margin-left: auto;
}
.meeting-record-list-editor .meeting-record-content-editor .meeting-record-button-wrapper {
  margin-right: 20px;
}
.meeting-record-selected-meeting-record {
  height: 100%;
}
.meeting-record-book-marked-record-list {
  padding-top: 10px;
  margin-bottom: 10px;
  height: 38%;
}
.meeting-record-book-marked-record-list .meeting-record-heading {
  height: 40px;
  margin-bottom: 20px;
  padding: 5px;
}
.meeting-record-book-marked-record-list .meeting-record-body {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meeting-record-book-marked-record-list .meeting-record-body .meeting-record-all-meeting-record-list-data {
  height: 80%;
}
.meeting-record-all-meeting-record-list {
  height: 56%;
}
.meeting-record-all-meeting-record-list .meeting-record-list-header {
  width: 370px;
  height: 100px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.meeting-record-all-meeting-record-list .meeting-record-list-header .header-left-col {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.meeting-record-all-meeting-record-list .meeting-record-list-header .header-left-col .meeting-record-heading {
  height: 40px;
  margin-bottom: 20px;
  padding: 5px;
}
.meeting-record-all-meeting-record-list .meeting-record-list-header .header-right-col {
  margin-left: auto;
}
.meeting-record-all-meeting-record-list .record-list-item-wrapper {
  padding-top: 20px;
  height: 615px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.meeting-record-item {
  background-color: white;
  margin-bottom: 10px;
  border-radius: 20px;
  width: 370px;
  height: 120px;
  padding: 10px 20px;
  color: #7A7A7A;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.meeting-record-item-date {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
}
.meeting-record-item-title {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 25px;
}
.meeting-record-item-writer {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
}

.control-menu {
  width: 135px;
  height: 40px;
  border-radius: 55px;
  border: none;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 20px;
  color: #01E89E;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  appearance: none;
  background-image: url("../assets/select-arrow-img.png");
  background-position: 88%;
  background-repeat: no-repeat;
  background-size: 10%, 10%;
}
.control-menu::-ms-expand {
  display: none; /*for IE10,11*/
}

.pagination-wrapper {
  width: 250px;
  margin-top: 8px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pagination-wrapper button {
  border: none;
  cursor: pointer;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 20px;
  color: white;
  background-color: transparent;
}
.pagination-wrapper ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pagination-wrapper ul .pagination-page-number-on {
  cursor: pointer;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 25px;
  color: white;
  padding: 5px;
}
.pagination-wrapper ul .pagination-page-number {
  cursor: pointer;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 20px;
  color: white;
  padding: 5px;
}

.evaluation-management {
  height: 180vh;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
}
.evaluation-management-ranking-wrapper {
  height: 77vh;
  padding-bottom: 30px;
  border-bottom: 2px solid #D9D9D9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.evaluation-management-ranking-wrapper .evaluation-management-show-evaluation-ranking {
  border: 2px solid #01e89e;
  border-radius: 30px;
  margin-right: 10px;
  height: 100%;
  width: 65%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking {
  height: 100%;
  width: 35%;
  margin-left: 10px;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-header {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 25px;
  color: #01E89E;
  padding: 10px;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-body {
  height: calc(100% - 45px);
  background-color: #01E89E;
  border-radius: 25px;
  padding: 30px;
  padding-bottom: 5px;
  overflow-y: scroll;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-body .evaluation-management-evaluation-ranking-item {
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 26px;
  background-color: white;
  height: 104px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-body .evaluation-management-evaluation-ranking-item .evaluation-management-left-col {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-body .evaluation-management-evaluation-ranking-item .evaluation-management-left-col figure {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background-image: url("../assets/ranking-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-body .evaluation-management-evaluation-ranking-item .evaluation-management-left-col .ranking {
  color: #01E89E;
  font-size: 25px;
  font-family: "IBM Plex Sans KR", sans-serif;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-body .evaluation-management-evaluation-ranking-item .evaluation-management-right-col {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-body .evaluation-management-evaluation-ranking-item .evaluation-management-right-col .name {
  font-size: 25px;
  font-family: "IBM Plex Sans KR", sans-serif;
  color: #01E89E;
  margin-bottom: 4px;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-body .evaluation-management-evaluation-ranking-item .evaluation-management-right-col .score {
  font-size: 15px;
  font-family: "Noto Sans KR", sans-serif;
  color: #7A7A7A;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-body .evaluation-management-evaluation-ranking-item_1 .evaluation-management-left-col figure {
  background-image: url("../assets/ranking-1-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85%, 85%;
}
.evaluation-management-ranking-wrapper .evaluation-management-evaluation-ranking-body::-webkit-scrollbar {
  display: none;
}
.evaluation-management-participant-wrapper {
  height: 100vh;
  margin-top: 15px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.evaluation-management-participant-wrapper h1 {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 25px;
  color: #01E89E;
  padding-top: 15px;
}
.evaluation-management-participant-wrapper .evaluation-management-participants {
  flex-wrap: wrap;
  padding-top: 20px;
  margin-top: 10px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.evaluation-management-participant-wrapper .evaluation-management-participants .evaluation-management-participant {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding: 17px;
  margin-bottom: 15px;
  background-color: white;
  height: 104px;
  width: 48.8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.evaluation-management-participant-wrapper .evaluation-management-participants .evaluation-management-participant-left-col .evaluation-management-user-profile {
  border: 2px solid #01e89e;
  width: 70px;
  height: 70px;
  border-radius: 20px;
  margin-top: auto;
  margin-bottom: auto;
  background-image: url("../assets/ranking-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}
.evaluation-management-participant-wrapper .evaluation-management-participants .evaluation-management-participant-right-col {
  width: 100%;
  height: 95%;
  margin-left: 30px;
  color: #7A7A7A;
  font-size: 25px;
  font-family: "IBM Plex Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.evaluation-management-participant-wrapper .evaluation-management-participants .evaluation-management-participant-right-col .evaluation-management-badges {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.evaluation-management-participant-wrapper .evaluation-management-participants .evaluation-management-participant-right-col .evaluation-management-badges figure {
  border: 2px solid #CCCCCC;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #CCCCCC;
}

.management {
  height: 100vh;
}
.management-main-header {
  background-color: #01e89e;
  font-size: 40px;
  font-family: "IBM Plex Sans KR", sans-serif;
  color: white;
  height: 200px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  padding: 35px;
  padding-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.management-main-header-left-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.management-main-header-left-col h1 {
  margin-right: 20px;
}
.management-main-header-right-col {
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.management .project-list-wrapper {
  padding: 30px;
}
.management .project-list-wrapper .project-list {
  margin-top: 30px;
}
.management .project-list-wrapper .project-list .project-item {
  border: 2px solid #01e89e;
  border-radius: 20px;
  width: 700px;
  height: 160px;
  margin-bottom: 30px;
  padding: 20px;
  text-decoration: none;
  box-shadow: 0px 10px 30px 5px rgba(181, 181, 181, 0.2);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.management .project-list-wrapper .project-list .project-item-left-col figure {
  border: none;
  border-radius: 15px;
  width: 70px;
  height: 70px;
  margin-right: 25px;
  background-image: url("../assets/project-default-img.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%, 100%;
}
.management .project-list-wrapper .project-list .project-item-right-col {
  height: 100%;
  width: 100%;
  color: #003B28;
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.management .project-list-wrapper .project-list .project-item-right-col .project-item-heading {
  font-size: 25px;
  font-family: "IBM Plex Sans KR", sans-serif;
  margin-bottom: 7px;
}
.management .project-list-wrapper .project-list .project-item-right-col .project-item-period,
.management .project-list-wrapper .project-list .project-item-right-col .project-item-description {
  margin-bottom: 7px;
  width: 400px;
}
.management .project-list-wrapper .project-list .project-item-right-col .project-item-description {
  line-height: 1.5;
}
.management .project-list-wrapper .project-list .project-item-right-col .project-item-button-wrapper {
  width: 130px;
  height: 88%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.management .pagination-wrapper {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.management .pagination-wrapper button {
  color: #01e89e;
}
.management .pagination-wrapper li {
  color: #01e89e;
}
.management .new-project-modal-wrapper {
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 98%;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
.management .new-project-modal-wrapper .new-project {
  border-radius: 40px;
  background-color: white;
  height: 370px;
  width: 650px;
  position: fixed;
  top: 95px;
  left: calc(50% - 325px);
  padding: 20px;
}
.management .new-project-modal-wrapper .new-project-first-row {
  height: 22%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.management .new-project-modal-wrapper .new-project-first-row figure {
  border: none;
  border-radius: 15px;
  width: 70px;
  height: 70px;
  background-image: url("../assets/project-default-img.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%, 100%;
}
.management .new-project-modal-wrapper .new-project-first-row .new-project-left-col {
  width: 390px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.management .new-project-modal-wrapper .new-project-first-row .new-project-left-col input {
  width: 300px;
  border-radius: 15px;
  border: none;
  font-size: 25px;
  font-family: "IBM Plex Sans KR", sans-serif;
  padding: 5px;
  background-color: white;
}
.management .new-project-modal-wrapper .new-project-first-row .new-project-left-col input::-moz-placeholder {
  color: #9d9797;
}
.management .new-project-modal-wrapper .new-project-first-row .new-project-left-col input::placeholder {
  color: #9d9797;
}
.management .new-project-modal-wrapper .new-project-second-row {
  margin-top: 20px;
  height: 73%;
  padding: 10px;
  border-radius: 35px;
  background-color: #01e89e;
  color: #01e89e;
}
.management .new-project-modal-wrapper .new-project-second-row .new-project-period {
  width: 85%;
  padding: 0px 25px;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.1019607843);
  border-radius: 35px;
  background-color: white;
  margin: 6px 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.management .new-project-modal-wrapper .new-project-second-row .new-project-period-left-col {
  width: 118px;
}
.management .new-project-modal-wrapper .new-project-second-row .new-project-period-left-col h1 {
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  margin-right: 40px;
}
.management .new-project-modal-wrapper .new-project-second-row .new-project-period-right-col {
  width: 330px;
  padding: 0 10px;
  color: #7A7A7A;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.management .new-project-modal-wrapper .new-project-second-row .new-project-period-right-col input {
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  border-radius: 15px;
  padding: 0 10px;
  height: 40px;
  width: 160px;
  margin-right: 5px;
  margin-left: 5px;
  border: none;
}
.management .new-project-modal-wrapper .new-project-second-row .new-project-period-right-col input[type=date]::before {
  content: attr(data-placeholder);
  color: #9d9797;
  width: 100%;
}
.management .new-project-modal-wrapper .new-project-second-row .new-project-period-right-col .new-project-period-start-date:valid::before,
.management .new-project-modal-wrapper .new-project-second-row .new-project-period-right-col .new-project-period-end-date:valid::before {
  display: none;
}
.management .new-project-modal-wrapper .new-project-second-row textarea {
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  padding: 15px 25px;
  margin: 0px 10px;
  min-width: 97%;
  max-width: 97%;
  min-height: 63%;
  max-height: 63%;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.1019607843);
  background-color: white;
  border-radius: 20px;
  border: none;
}
.management .new-project-modal-wrapper .new-project-second-row textarea::-moz-placeholder {
  color: #9d9797;
}
.management .new-project-modal-wrapper .new-project-second-row textarea::placeholder {
  color: #9d9797;
}/*# sourceMappingURL=fullcare.css.map */