.confirm-modal {
  text-align: center;
  height: 100%;

  h1 {
    width: 55%;
    line-height: 1.5;
    color: white;
    margin-bottom: 40px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;

    @include putCenter;
    @include heading_06;
  }

  &-button {
    display: flex;
    justify-content: center;
    align-items: center;

    Button {
      margin: 0px 5px;
    }
  }

  @include displayFlex(column, space-around);
}
