.button {
  background-color: white;
  color: $gray-500;
  border-radius: 45px;
  border: 2px solid #01e89e;
  padding: 5px 20px;
  height: 37px;
  cursor: pointer;
  /* 텍스트 줄바꿈 방지 */
  display: inline-flex;
  align-items: center;
  white-space: nowrap;

  &_small {
    height: 25px;
    padding: 2px 10px;

    @include button_03;
  }

  &_positive {
    color: $gray-100;
    background-color: $green-200;
    border-radius: 10px;
  }

  &_positive_dark {
    color: white;
    background-color: #00aa72;
  }

  &_underlined {
    background-color: transparent;
    border: none;
    color: #7a7a7a;
    text-decoration: underline;
  }

  &_profile {
    background-color: $green-200;
    color: white;
    width: 37px;
    height: 37px;
  }

  @include button_01;
}

@include tablet {
  .button {
    font-size: $button-font-size-medium;
  }
}

@include mobile {
  .button {
    font-size: $button-font-size-small;
    padding: 3px 13px;
  }
}
