.button {
  font-family: $button-font;
  font-size: $button-font-size;
  background-color: white;
  color: #01e89e;
  border-radius: 45px;
  border: 2px solid #01e89e;
  padding: 5px 25px;
  cursor: pointer;

  &_positive {
    color: white;
    background-color: #01e89e;
    border: 2px solid #01e89e;
  }

  &_positive_dark {
    color: white;
    background-color: #00aa72;
    border: 2px solid #00aa72;
  }
}

@include tablet {
  .button {
    font-size: $button-font-size-medium;
  }
}

@include mobile {
  .button {
    font-size: $button-font-size-small;
    padding: 3px 13px;
  }
}
