.button2 {
  background-color: white;
  border-radius: 47px;
  border: 0 solid #7a7a7a;
  font-family: $link-font;
  font-size: $button-font-size;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}
