.calendar {
  border: 1px solid $gray-light-200;
  border-radius: 5px;
  background-color: $white-100;

  padding: 16px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);

  position: absolute;
  z-index: 1000;
  margin-top: 5px;
}

.year-month {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.year-month-button {
  cursor: pointer;
  font-weight: bold;
}

.selectors {
  display: flex;
  gap: 4px;
}

.year {
  color: $gray-800;
  padding: 5px 12px;
}

/*셀렉터*/

.selector-year {
  border: 1px solid $gray-light-500;
  padding: 5px 12px;
  border-radius: 5px;
  color: $gray-800;
  width: 100px;
  cursor: pointer;

  position: relative;
}

.selector-month {
  border: 1px solid $gray-light-500;
  padding: 5px 12px;
  border-radius: 5px;
  color: $gray-800;
  width: 72px;
  cursor: pointer;

  position: relative;
}

.selector-focus {
  border: 1px solid $blue-default;
  outline: 3px solid $blue-light-100;
}

.selector:hover {
  border: 1px solid $gray-light-600;
  background-color: $gray-light-300;
}

.selector-in {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selector-in-title {
  width: 100%;
  text-align: center;
}

.options {
  position: absolute;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16);
  color: $gray-800;
  padding: 8px 0;
  height: 164px;
  overflow-y: scroll;
  background-color: $white-100;
}

.option-year {
  width: 100px;
  height: 37px;
  padding: 8px 0 9px 12px;
  display: flex;
  align-items: center;
}
.option-month {
  width: 72px;
  height: 37px;
  padding: 8px 0 9px 12px;
  display: flex;
  align-items: center;
}

.option-year:hover,
.option-month:hover {
  background-color: $gray-light-300;
}

/*날짜*/

.days {
  margin-top: 15px;
}
.day-week {
  color: $gray-400;
}

.week {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.day {
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.not-this-month {
  color: $gray-light-500;
}
.this-month {
  color: $gray-800;
}

.this-day {
  background-color: $blue-default;
  color: $white-100;
  border-radius: 16px;
}

.this-month:hover {
  background-color: $blue-light-100;
  border-radius: 16px;
}
