.card {
<<<<<<< HEAD
  margin: 20px 0px;
=======
  margin: 20px 10%;
>>>>>>> 87bdd395810bdd089464fdb381a040c6422725e0
  background: #fcfcfc;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  padding: 10px;
}
