.control-menu {
  border-radius: 55px;
  border: none;
  font-family: $button-font;
  color: $green-400;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  appearance: none;
  height: 25px;
  padding: 2px 10px;

  @include button_03;
}