.evaluation-management {
    height: 180vh;
    width: 1150px;

    &-ranking-wrapper {
        height: 77vh;

        .evaluation-management-show-evaluation-ranking {
            border: $border;
            border-radius: 30px;
            margin-right: 10px;
            height: 100%;
            width: 65%;
            font-family: $body-font;
            font-size: $body-font-size;
            overflow-x: hidden;

            @include displayFlex;
        }

        .evaluation-management-evaluation-ranking {
            height: 100%;
            width: 35%;
            margin-left: 10px;

            &-header {
                font-family: $heading-font;
                font-size: $sub-heading-font-size;
                color: #01E89E;
                padding: 10px;
            }

            &-body {
                height: calc(100% - 45px);
                background-color: #01E89E;
                border-radius: 25px;
                padding: 30px;
                padding-bottom: 5px;
                overflow-y: scroll;

                .evaluation-management-evaluation-ranking-item {
                    border-radius: 20px;
                    padding: 10px;
                    margin-bottom: 26px;
                    background-color: white;
                    height: 104px;

                    .evaluation-management-left-col {
                        figure {
                            width: 40px;
                            height: 40px;
                            margin-right: 5px;

                            @include backgroundImage('../assets/ranking-img.png')
                        }

                        .ranking {
                            color: #01E89E;
                            font-size: $sub-heading-font-size;
                            font-family: $heading-font;
                        }

                        @include displayFlex(row, flex-start);
                    }

                    .evaluation-management-right-col {
                        width: 49%;

                        .name {
                            font-size: $sub-heading-font-size;
                            font-family: $heading-font;
                            color: #01E89E;
                            margin-bottom: 4px;
                        }

                        .score {
                            font-size: $sub-body-font-size;
                            font-family: $body-font;
                            color: #7A7A7A;
                        }

                        @include displayFlex(column, center, flex-end);
                    }

                    @include displayFlex;
                }

                .evaluation-management-evaluation-ranking-item_1 {
                    .evaluation-management-left-col {
                        figure {
                            @include backgroundImage('../assets/ranking-1-img.png', center, no-repeat, 85%, 85%);
                        }
                    }
                }
            }

            &-body::-webkit-scrollbar {
                display: none;
            }         
        }

        @include displayFlex;
    }

    &-participant-wrapper {
        height: 100vh;
        margin-top: 15px;
        border-top: 2px solid #D9D9D9;
        width: 60%;

        h1 {
            font-family: $heading-font;
            font-size: $sub-heading-font-size;
            color: #01E89E;
            padding-top: 15px;
        }

        .evaluation-management-participants {
            flex-wrap: wrap;
            padding-top: 20px;
            margin-top: 10px;
            padding-bottom: 40px;

            .evaluation-management-participant {
                box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.07);;
                border-radius: 20px;
                padding: 17px;
                margin-bottom: 15px;
                background-color: white;
                height: 104px;
                width: 48.8%;

                &-left-col {
                    .evaluation-management-user-profile {
                        border: $border;
                        width: 70px;
                        height: 70px;
                        border-radius: 20px;
                        margin-top: auto;
                        margin-bottom: auto;
    
                        @include backgroundImage('../assets/ranking-img.png');
                    }
                }

                &-right-col {
                    width: 100%;
                    height: 95%;
                    margin-left: 30px;
                    color: #7A7A7A;
                    font-size: $sub-heading-font-size;
                    font-family: $heading-font;

                    .evaluation-management-badges {
                        width: 100px;

                        figure {
                            border: 2px solid #CCCCCC;;
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                            background-color: #CCCCCC;
                        }

                        @include displayFlex(row, space-between);
                    }

                    @include displayFlex(column, space-between, flex-start);
                }

                @include displayFlex;
            }

            @include displayFlex(row, space-between);
        }

        @include putCenter;

    }

    @include putCenter;
}