.login-modal {
  border-radius: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0;

  .login-logo-img {
    position: absolute;
    top: 8%;

    figure {
      width: 68px;
      height: 68px;

      background: {
        position: center;
        repeat: no-repeat;
        size: 100%;
      }
    }

    @include putCenter;
  }

  .login-heading {
    position: absolute;
    top: 29%;
    padding: 12px;

    font: {
      family: $heading-font;
      size: $heading-font-size;
    }
  }

  .login-text {
    color: #9aad84;
    line-height: $line-height;
    position: absolute;
    top: 42%;
    padding: 12px;
    margin-bottom: 30px;

    font: {
      family: $body-font;
      size: $body-font-size;
    }
  }

  .login-button-wrapper {
    width: 298px;
    padding: 10px;
    position: absolute;
    top: 67%;

    .login-button {
      width: 70px;
      height: 70px;
      cursor: pointer;
      border-radius: 10px;
      border: none;
      box-shadow: 2px 2px 9px rgb(189, 186, 186);

      &-google {
        @include backgroundImage(
          "../assets/google-login-button-img.png",
          center,
          no-repeat,
          100%,
          100%
        );
      }

      &-kakao {
        @include backgroundImage(
          "../assets/kakao-login-button-img.png",
          center,
          no-repeat,
          100%,
          100%
        );
      }

      &-naver {
        @include backgroundImage(
          "../assets/naver-login-button-img.png",
          center,
          no-repeat,
          100%,
          100%
        );
      }
    }

    @include displayFlex(row, space-around);
  }

  @include putCenter;
  @include displayFlex(column);
}
