.main-header {
    border-bottom: $border;
    height: 90px;

    &-left-col {
        margin-left: 20px;

        .main-header-logo-img {
            border: $border;
            width: 60px;
            height: 60px;

            @include mobile {
                width: 40px;
                height: 40px;
            }
        }

        @include mobile {
            margin-left: 5px;
        }
    }

    &-link {
        width: 80%;
        height: 70px;
        margin-left: 50px;

        &>a {
            font-size: $link-font-size;
            font-family: $link-font;
            color: black;
            text-decoration: none;

            @include tablet {
                font-size: $link-font-size-medium;
            }

            @include mobile {
                font-size: $link-font-size-small;
            }
        }

        @include mobile {   
            margin: 0;
            width: 55%;
        }
        @include displayFlex(row, space-around);
    }

    &-right-col {
        width: 20%;

        Button {
            cursor: pointer;
            margin-right: 14%;

            @include mobile {
                margin-right: 5px;
            }
        }
    
        .main-header-user-profile-img {
            border: $border;
            border-radius: 35%;
            background-color: #01e89e;
            width: 40px;
            height: 40px;

            @include backgroundImage("../assets/profile-default-img.png");
        }

        @include mobile {
            width: 29%;
        }
        @include displayFlex(row, space-between);
    }

    &-login-col {
        Button {
            margin-left: auto;
        }
    }

    @include mobile {
        height: 70px;
    }
    @include displayFlex(row, space-between, center);
}