.main-header {
  border-bottom: $border;
  height: 90px;

  &-left-col {
    margin-left: 25px;

    .main-header-logo-img {
      border: $border;
      width: 60px;
      height: 60px;
    }
  }

  &-link {
    @include displayFlex(row, space-between);
    gap: 25px;
  }

  .nav_item {
    & > a {
      font-size: $link-font-size;
      font-family: $link-font;
      color: black;
      text-decoration: none;
    }
  }

  .nav_divide {
    padding-left: 25px;
  }

  &-right-col {
    width: 20%;
    margin-right: 20px;

    Button {
      cursor: pointer;
      margin-right: 15px;
      margin-left: auto;
    }

    .main-header-user-profile-img {
      border: $border;
      border-radius: 35%;
      background-color: #01e89e;
      width: 40px;
      height: 40px;

      & > img {
        width: 100%;
        height: 100%;
      }
    }

    @include displayFlex;
  }

  &-login-col {
    Button {
      margin-left: auto;
    }
  }

  @include displayFlex(row, space-between, center);
}

@include tablet {
  .main-header {
    &-link {
      width: 45%;
    }

    &-right-col {
      width: 30%;

      .main-header-user-profile-img {
        margin-right: 15px;
      }

      @include displayFlex(row, flex-end);
    }
  }
}

@include mobile {
  .main-header {
    height: 70px;

    &-left-col {
      margin-left: 63px;

      .main-header-logo-img {
        width: 45px;
        height: 45px;
      }
    }

    &-link {
      width: 0;
      height: 0;
      overflow: hidden;
      margin-left: 0;
    }

    &-right-col {
      width: 50%;

      .main-header-user-profile-img {
        width: 35px;
        height: 35px;
      }

      @include displayFlex;
    }
  }
}

.profile_header {
  &_background {
    background-color: #01e89e;
  }

  &_menu_color {
    & > a {
      color: white !important;
    }
  }

  &_button {
    background-color: white !important;
    color: #01e89e !important;
  }

  &_image_background {
    background-color: white !important;
  }
}
