/* ManagementHeader */
.management-header {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;

  background-color: white;
  border: 2px solid #01e89e;
  border-radius: 20px;

  display: flex;
  justify-content: space-between;
}

.management-header > div > a {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  color: black;
}
