.management {
  padding-bottom: 20px;

  &-main-header {
    background-color: $green-200;
    color: white;
    height: 254px;
    border-radius: 0px 0px 35px 35px;
    padding: 25px 45px;

    &-left-col {
      h1 {
        margin-right: 40px;

        @include mobile {
          margin-right: 5px;

          @include m_heading_01;
        }
        @include heading_01;
      }

      @include mobile {
        width: fit-content;
      }

      @include displayFlex;
    }

    &-right-col {
      gap: 20px;

      @include mobile {
        width: fit-content;
        gap: 5px;
      }

      @include displayFlex(row, space-between);
    }

    @include mobile {
      border-radius: 0px 0px 15px 15px;
      padding: 8px;
    }

    @include mobile {
      height: 130px;
    }

    @include displayFlex(row, space-between, flex-end);
  }

  .project-list-wrapper {
    .project-list {
      margin-top: 30px;

      &-description {
        color: $gray-500;
        margin-top: 80px;

        p {
          text-align: center;
        }

        @include mobile {
          @include m_heading_04;
        }

        @include heading_04;
      }

      .project-item {
        border: $border;
        width: 650px;
        height: 203px;
        border-radius: 33px;
        margin-bottom: 25px;
        text-decoration: none;
        box-shadow: 0px 10px 30px 5px #b5b5b533;
        display: grid;
        grid-template-columns: 15% 85%;
        cursor: pointer;
        padding: 45px 30px;

        &-left-col {
          figure {
            border-radius: 50%;
            width: 60px;
            height: 60px;
            background: {
              position: center;
              repeat: no-repeat;
              size: 100% 100%;
            }

            @include mobile {
              width: 25px;
              height: 25px;
            }
          }
        }

        &-right-col {
          display: grid;
          grid-template-columns: 80% 20%;
          grid-template-rows: 100%;
          color: #003b28;
          height: 100%;

          .project-item-heading {
            margin-bottom: 7px;
            color: $green-500;

            @include mobile {
              margin-bottom: 10px;

              @include m_heading_02;
            }

            @include heading_03;
          }

          .project-item-period,
          .project-item-description {
            margin-bottom: 7px;

            @include mobile {
              @include m_body_01;
            }

            @include body_01;
          }

          .project-item-description {
            line-height: 1.5;
            overflow-wrap: break-word;
          }

          .project-item-period,
          .project-item-description {
            &-heading {
              margin-right: 2px;
            }
          }

          .project-item-button-wrapper {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-left: auto;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);

            @include mobile {
              width: 40px;
              height: 40px;
            }

            @include displayFlex(column);
          }

          .leave-button-text {
            color: $green-400;

            @include mobile {
              @include m_button_02;
            }

            @include button_03;
          }

          .project-item-button-wrapper figure {
            background: {
              position: center;
              repeat: no-repeat;
              size: 100% 100%;
            }

            width: 17px;
            height: 17px;
            margin-bottom: 5px;

            @include mobile {
              margin-bottom: 2px;
              width: 12px;
              height: 12px;
            }
          }

          @include mobile {
            margin-left: 8px;
          }
        }

        @include mobile {
          grid-template-columns: 10% 90%;
          width: 90%;
          height: 125px;
          padding: 25px 7px;
          border-radius: 15px;
        }

        @include putCenter;
      }
    }
  }
}

.MuiBox-root {
  .project-editor {
    height: 90%;
    width: 80%;
    display: grid;
    grid-template-rows: 18% 70% 12%;
    grid-template-columns: 100%;

    &-heading {
      margin-bottom: 10px;

      &-input {
        width: 100%;
        border: none;
        height: 100%;
        border-radius: 10px;

        @include heading_03;
      }
    }

    &-body {
      height: 100%;
      background-color: $background-color;
      box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 15px;

      .project-editor-left-col {
        width: 20%;
        height: 100%;
        margin-right: 20px;

        div {
          height: 80%;

          figure {
            border: 1px solid black;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            background: {
              position: center;
              repeat: no-repeat;
              size: 100% 100%;
              color: #dedada;
            }
          }

          .image-input {
            display: none;
          }

          @include displayFlex(column, space-around);
        }
      }

      .project-editor-right-col {
        width: 80%;
        height: 100%;
      }

      .project-editor-right-col .project-editor-period-first-row {
        background-color: white;
        border-radius: 10px;
        margin-bottom: 10px;
        height: 40px;
        width: 85%;
        color: $green-400;

        input[type="date"] {
          border: none;
          width: 100px;

          @include body_01;
        }

        @include heading_05;
        @include displayFlex(row, space-around);
      }

      .project-editor-right-col .project-editor-period-second-row {
        width: 100%;
        height: calc(100% - 50px);

        textarea {
          min-width: 100%;
          max-width: 100%;
          min-height: 100%;
          max-height: 100%;
          padding: 10px;
          border: none;
          border-radius: 10px;

          @include heading_05;
        }
      }

      @include displayFlex;
    }

    .button-wrapper {
      @include displayFlex(row, flex-end, flex-end);
    }
  }

  @include displayFlex;
}

.MuiBox-root {
  .delete-project {
    height: 70%;

    &-heading {
      color: white;
      text-align: center;
      line-height: 1.5;
    }

    @include displayFlex(column, space-around);
  }
}

.management_project_layout {
  width: 72%;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 30px;

  @include tablet {
    width: 90%;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include mobile {
    width: 90%;
  }
}
