/* MEETING RECORD MANAGEMENT */
.meeting-record {
    &-management {
        border: $border;
        height: 185vh;
        width: 1150px;
        display: flex;
        justify-content: space-between;
        border-radius: 35px;
        background-color: $background-color;
        .meeting-record-heading {
            color: white;
            font-family: $heading-font;
            font-size: $sub-heading-font-size;
        }

        @include putCenter;
    }

    &-list {
        width: 35%;
        padding: 10px;
        border: {
            top-left-radius: 35px;
            bottom-left-radius: 35px;
        }
    }

    /* MEETING RECORD LIST EDITOR */
    &-list-editor {
        width: 65%;
        padding: 10px;
        border-radius: 35px;
        background-color: white;

        .meeting-record-new-meeting-record {
            height: 100%;
        }

        /* MEETING RECORD NEW MEETING RECORD */
        .meeting-record-new-meeting-record-editor {
            height: 100%;
            width: 95%;

            .meeting-record-heading {
                color: #01E89E;
                margin-bottom: 30px;
            }

            .meeting-record-initial-state {
                height: 100%;

                @include displayFlex(column);
            }

            @include putCenter;

        }

        .meeting-record-content-editor {
            height: 100%;

            .react-quill {
                margin-top: 20px;
                margin-bottom: 80px;
                width: 100%;
                height: 73%;
            }

            .meeting-record-writer {
                margin-bottom: 20px;
                width: 100%;
                h1 {
                    font-family: $body-font;
                    font-size: $body-font-size;
                    margin-right: 10px;
                }

                .control-menu {
                    border: $border;
                    color: black;
                }

                @include displayFlex(row, flex-start);
            }

            .meeting-record-title {
                margin-bottom: 20px;
                width: 100%;
                h1 {
                    font-family: $body-font;
                    font-size: $body-font-size;
                    margin-right: 10px;
                }
                input {
                    width: 91%;
                    font-family: $heading-font;
                    font-size: 20px;
                    border-radius: 45px;
                    border: 2px solid #01E89E;
                    padding: 5px 25px;
                    margin-left: auto;
                }

                @include displayFlex(row, flex-start);
            }

            .meeting-record-button-wrapper {
                width: 100%;
                @include displayFlex(row, space-between);

                .meeting-record-button-right-col {
                    width: 260px;

                    @include displayFlex(row, space-between);
                }
            }

            @include displayFlex(column, center, flex-end);
        }
    }

    /* MEETING RECORD SELECTED MEETING RECORD */
    &-selected-meeting-record {
        height: 100%;
    }

    /* MEETING RECORD BOOK MARKED RECORD LIST */
    &-book-marked-record-list {
        padding-top: 10px;
        margin-bottom: 10px;
        height: 38%;

        .meeting-record-heading {
            height: 40px;
            margin-bottom: 20px;
            padding: 5px;
        }

        .meeting-record-body {
            height: 85%;

            .meeting-record-all-meeting-record-list-data {
                height: 80%;
            }

            @include displayFlex(column);
        }
    }

    /* ALL MEETING RECORD LIST */
    &-all-meeting-record-list {
        height: 58%;
        &-header {
            width: 370px;

            @include displayFlex(row, space-between, center);
            @include putCenter;
        }

        &-item-wrapper {
            padding-top: 20px;
            height: 590px;
            
            @include displayFlex(column, space-between);
        }
    }

    /* MEETING RECORD ITEM */
    &-item {
        background-color: white;
        margin-bottom: 10px;
        border-radius: 20px;
        width: 370px;
        height: 120px;
        padding: 10px 20px;
        color: #7A7A7A;
        cursor: pointer;

        @include putCenter;
        @include displayFlex(column, space-around, flex-start);

        &-date {
            font-family: $body-font;
            font-size: $body-font-size;
        }

        &-title {
            font-family: $heading-font;
            font-size: $sub-heading-font-size;
        }

        &-writer {
            font-family: $body-font;
            font-size: $body-font-size;
        }
    }
}
