.fc-toolbar-title {
  font-family: $heading-font;
  font-size: 1px;
  color: $gray-500;
}

.schedule-calendar {
  display: grid;
  grid-template-columns: 60% 40%;
  @include mobile {
    height: 400px;
  }

  &-schedulelist {
    width: 100%;
    .fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
      height: 100%;
    }
    .fc-header-toolbar.fc-toolbar {
      font-size: $sub-body-font-size;
      @include tablet {
        font-size: $sub-body-font-size-medium;
      }
      @include mobile {
        font-size: 7px;
      }
    }
  }
}

// calendarlist 컴포넌트
.calendar-list {
  width: 100%;
  height: 100%;
  background-color: $green-200;
  border-radius: 20px;
  align-items: center;
  padding: 2rem;
  @include mobile {
    padding: 10px;
  }
  overflow-y: auto;

  .button-container {
    display: flex;
    justify-content: flex-end;
  }

  &-time {
    color: white;
    h5 {
      font-family: $heading-font;
      font-size: $sub-heading-font-size;
      margin-bottom: 10px;
    }
    h1 {
      font-family: $heading-font;
      font-size: $heading-font-size;
      border-bottom: 2px solid white;
      margin-bottom: 20px;
    }
  }

  // CalendarItem 컴포넌트
  &-item {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    @include mobile {
      padding: 8px;
    }
    color: $body-font-color;
    margin-bottom: 20px;

    h5 {
      font-family: $body-font;
      font-size: $body-font-size;
      margin-bottom: 10px;
      @include mobile {
        font-size: $body-font-size-small;
      }
      @include tablet {
        font-size: $body-font-size-medium;
      }
    }
    h4 {
      font-family: $heading-font;
      font-size: $sub-heading-font-size;
      @include mobile {
        font-size: $sub-heading-font-size-small;
      }
      @include tablet {
        font-size: $sub-heading-font-size-medium;
      }
    }
    &-name {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      &-avatar {
        display: flex;

        .MuiAvatar-root {
          transform: scale(0.7);
          cursor: pointer;
          transition: all 0.3s ease;
          margin-left: -20px;

          &:hover {
            transform: scale(0.8);
          }
        }
      }
    }
  }
}

// ScheduleModal 컴포넌트
.modal-container {
  padding: 20px;
  font-family: $body-font;
  width: 100%;
  @include mobile {
    height: 100%;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    Button {
      margin-left: 10px;
    }
  }
  input {
    width: 90%;
    border: none;
    border-radius: 10px;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: $body-font;
    @include mobile {
      font-size: 15px;
    }
  }
  &-description {
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
    margin-top: 15px;
    border: $border;
    h5 {
      margin-right: 30px;
      color: $font-color;
    }
    .plan-option {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      h4 {
        margin: 0px 10px;
      }
      input {
        font-size: 20px;
        margin-top: 10px;
      }
      Button {
        margin-right: 10px;
      }
      select {
        border-radius: 10px;
        padding: 0.5rem;
        font-family: $link-font;
        color: $sub-heading-color;
      }
      &-bottom {
        display: flex;
        align-items: center;
        border-bottom: 1.5px solid rgb(217, 217, 217);
        margin-bottom: 20px;
        input {
          font-size: 15px;
        }
      }
    }
  }
}

@include tablet {
  .fc-daygrid-day {
    font-size: 7px;
    margin: 80%;
  }
  .fc-toolbar-title {
    font-size: 5px;
  }
  .calendar {
    &-list {
      .check-schedule {
        font-size: $body-font-size-medium;
      }
      h5 {
        font-size: $body-font-size-medium;
      }
      h1,
      h4 {
        font-size: $sub-heading-font-size-medium;
      }
    }
  }
}

@include mobile {
  .fc-daygrid-day {
    font-size: 7px;
    margin: 80%;
  }
  .fc-toolbar-title {
    font-size: 5px;
  }
  .fc-scrollgrid-sync-inner {
    font-size: 5px;
  }
  .calendar {
    &-list {
      .check-schedule {
        font-size: $body-font-size-small;
      }
      h5 {
        font-size: $body-font-size-small;
      }
      h1,
      h4 {
        font-size: $sub-heading-font-size-small;
      }
    }
  }

  .calendar-list-item-name-avatar {
    .MuiAvatar-root {
      transform: scale(0.5);
      margin-left: -25px;

      &:hover {
        transform: scale(0.6);
      }
    }
  }
}
