.myproject-header {
  height: 200px;
  background-color: $main-color;
  border-end-start-radius: 80px;
  border-end-end-radius: 80px;
  font-family: $link-font;

  @include displayFlex(row, space-between, center);

  &-left {
    margin-left: 70px;
    margin-top: 100px;

    @include displayFlex(row, center, center);

    &-participation-project {
      font-family: $link-font;
      font-size: 40px;
      color: white;
      margin-right: 30px;
    }
  }

  &-right {
    margin-right: 70px;
    margin-top: 100px;

    @include displayFlex(row, center, center);

    &-total-btn {
      margin-right: 30px;
    }
  }
}

.my-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 배경을 반투명하게 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-modal-content {
  border-radius: 40px;
  background-color: white;
  width: 600px;
  height: 500px;
  padding: 16px;

  .close-modal-btn {
    font-size: 40px;
    float: right;
    cursor: pointer;
  }
}
