.myproject-header {
  height: 200px;
  background-color: $main-color;
  border-end-start-radius: 80px;
  border-end-end-radius: 80px;
  font-family: $link-font;

  @include displayFlex(row, space-between, center);

  &-left {
    margin-left: 70px;
    margin-top: 100px;

    @include displayFlex(row, center, center);

    &-participation-project {
      font-family: $link-font;
      font-size: 40px;
      color: white;
      margin-right: 30px;
    }
  }

  &-right {
    margin-right: 70px;
    margin-top: 100px;

    @include displayFlex(row, center, center);

    &-total-btn {
      margin-right: 30px;
    }
  }
}
