.project-list {
  background-color: white;
  margin-top: 30px;

  &-pagination {
    margin-top: 50px;
    display: flex;
  }
}

// react-paginate css
.pagination {
  width: 600px;
  display: flex;

  @include putCenter;

  li {
    margin-right: 50px;
    font-size: $button-font-size;
    font-family: $link-font;
    @include putCenter;

    &:hover {
      cursor: pointer;
    }
  }
}

.pagination_active a {
  font-weight: bold;
  color: $main-color;
}

.pagination_disabled a {
  color: #6c757d;
  pointer-events: none;
}
