.profileInput {
  text-align: center;
  border: none;
  background-color: $gray-100;
  border-radius: 5px;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.08);

  padding: 4px 0;
  font-size: 14px;

  &:focus {
    outline: none;
  }

  &_width100 {
    width: 100%;
  }

  &_width50 {
    width: 50%;
  }

  &_width45 {
    width: 45%;
  }

  &-header {
    color: $white-200;
    text-align: center;

    border: 1px solid $white-100;
    background-color: #01e89e;
    border-radius: 10px;

    padding: 4px 0;
    font-size: 18px;
    font-weight: $weight-bold;
  }

  &-header:hover {
    background-color: #52eab8;
  }
}
