.project-management {
  min-height: 65vh;
  display: flex;
  align-items: center;

  .project-button-wrapper {
    figure {
      border-radius: 50%;
      width: 210px;
      height: 210px;
      margin-bottom: 30px;
      background: {
        position: center;
        repeat: no-repeat;
        size: 100% 100%;
      }
      cursor: pointer;
    }

    h1 {
      color: $green-500;

      @include heading_04;
    }

    @include displayFlex(column, space-around);
  }

  .completed-project,
  .ongoing-project {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @include tablet {
      gap: 25px;
      @include displayFlex(column);
    }
  }

  .completed-project {
    .project-button-wrapper {
      figure {
        pointer-events: none;
      }
    }
  }
}
