.profile {
  &_introduce {
    background-color: #01e89e;

    &_container {
      z-index: 3;
      width: 95%;
      margin: 0 auto;
      min-height: 150px;

      display: flex;
      justify-content: start;
      align-items: center;
      gap: 30px;
    }

    &_image {
      width: 90px;
      height: 90px;
      background-color: white;
      border-radius: 50%;

      & > img {
        width: 100%;
        height: 100%;
      }
    }

    &_info {
      color: white;

      &_name {
        height: 50px;

        display: flex;
        align-items: center;
        gap: 30px;

        font-weight: bold;

        &_kr {
          font-size: 2rem;
        }
        &_us {
          font-size: 1.3rem;
        }
      }
      &_myself {
        min-width: 400px;
        height: 50px;
        display: flex;
        align-items: center;
        gap: 30px;
        font-size: 18px;

        & > input {
          border: none;
          border-radius: 9px;
          width: 100%;
          font-size: 18px;
          padding: 8px 16px;
        }
      }
    }
  }

  &_body {
    background-color: #01e89e;
    &_container {
      height: 100%;
      background-color: white;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      display: flex;
    }

    &_sec {
      padding: 30px 60px;
      width: 100%;
    }
  }

  &_nav {
    width: 90px;
    height: 100%;
    padding-top: 30px;
    border-top-left-radius: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    background-color: #f9f9f9;

    &_link {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 48px;
      height: 48px;
      background-color: #00aa72;
      border-radius: 15px;

      & > img {
        border: 1px salmon;
        width: 27px;
        height: 27px;
      }
    }

    &_image_active {
      background-color: #01e89e;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 22px 22px 0px;
    }
  }

  &_introduce {
    &_titleBox {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > h1 {
        font-size: 24px;
        font-weight: bold;
      }
    }

    &_informationBox {
      border: 1px solid red;
      width: 80%;
      margin: 0 auto;
    }

    &_contactBox {
      padding: 25px;
      &_title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 24px;
        & > h2 {
          font-size: 18px;
          font-weight: bold;
        }

        &_btnBox {
          & > button {
            margin-left: 15px;
          }
        }
      }

      &_items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 24px;

        &_item {
          min-height: 30px;
          & > span {
            display: inline-block;
            min-width: 60px;
            font-weight: bold;
            font-size: 16px;
          }
          & > a,
          input {
            margin-left: 30px;
            border: none;
          }

          & > input {
            padding: 5px 15px;
            min-width: 300px;
            font-size: 16px;
            border-bottom: 2px solid #cccccc;
          }

          & > input:focus {
            outline: none;
            border-bottom: 2px solid #01e89e;
          }
        }
      }
    }
  }
}
