.profile {
  &_content {
    width: 85%;
    margin: 0 auto;
  }

  &_title {
    @include heading_03;
    margin-bottom: 15px;
  }

  &_introduce {
    background-color: $green-200;

    &_informationBox {
      width: 80%;
      margin: 0 auto;
    }

    &_container {
      z-index: 3;
      width: 95%;
      margin: 0 auto;
      min-height: 150px;

      @include displayFlex(row, start, center);
      gap: 30px;
    }

    &_image {
      width: 90px;
      height: 90px;

      margin-bottom: 15px;

      & > img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }

      &_change {
        display: flex;
        justify-content: center;

        font-size: 18px;
        color: $white-100;
        font-weight: 700;
      }
    }

    &_info {
      color: white;

      &_name {
        height: 50px;

        display: flex;
        align-items: center;
        gap: 30px;

        font-weight: bold;

        &_kr {
          font-size: 2rem;
        }
        &_us {
          font-size: 1.3rem;
        }
      }
      &_myself {
        min-width: 400px;
        height: 50px;
        display: flex;
        align-items: flex-end;
        gap: 30px;
        font-size: 18px;
        font-weight: 700;

        &_bio {
          padding: 5px;
        }
      }
    }
  }

  &_body {
    background-color: $green-200;

    &_container {
      height: 100%;
      background-color: #f9f9f9;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      display: flex;
    }

    &_sec {
      padding: 30px 60px;
      width: 100%;
      background-color: $white-100;
    }

    &_introduce {
      &_Box {
        padding: 25px;
        border: 2px solid $green-200;
        border-radius: 10px;
        margin-bottom: 18px;
        min-height: 200px;

        // @include tablet {
        //   padding-right: 10px;
        //   padding-left: 5px;
        // }

        &_title {
          width: 100%;
          @include displayFlex(row, space-between, center);
          padding-bottom: 8px;
          & > h2 {
            font-size: 18px;
            font-weight: bold;
          }

          &_btnBox {
            & > button {
              margin-left: 15px;
            }
          }
        }
      }

      &_contactBox {
        &_items {
          @include displayFlex(column, center, flex-start);
          gap: 24px;

          &_item {
            width: 100%;
            min-height: 30px;
            display: flex;
            align-items: center;

            & > a,
            p {
              margin-left: 30px;
              border: none;
              color: $gray-600;
            }
          }

          &_title {
            display: inline-block;
            min-width: 69px;
            font-weight: bold;
            font-size: 16px;
          }

          &_email {
            width: 100%;
            @include displayFlex(row, space-between, center);
          }
        }
      }

      &_positionBox {
        &_position {
          & > span {
            color: $gray-600;
            font-weight: bold;
          }
        }

        &_stack {
          &_select {
            margin-top: 1rem;
          }

          &_bc_items_five {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 10px;

            @include tablet {
              grid-template-columns: repeat(3, 1fr);
            }
          }
          &_bc_items_three {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;

            @include tablet {
              grid-template-columns: repeat(1, 1fr);
              grid-gap: 10px;
            }
          }
        }
      }
    }
  }

  &_nav {
    min-width: 90px;
    padding-top: 30px;
    border-top-left-radius: 24px;
    @include displayFlex(column, flex-start, center);
    gap: 48px;

    &_link {
      @include displayFlex(row, center, center);

      min-width: 48px;
      min-height: 48px;
      background-color: $green-400;
      border-radius: 15px;

      & > img {
        width: 27px;
        height: 27px;
      }
    }

    &_image_active {
      background-color: $green-500;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 22px 22px 0px;
    }
  }

  &_mr-t {
    margin-top: 39px;
  }

  &_input {
    border: none;
    width: 70%;
    font-size: 20px;
    padding: 8px 16px 3px 16px;
    outline: none;

    background-color: $green-200;
    color: white;
    border-bottom: 2px solid $white-100;
    font-weight: 700;

    &::placeholder {
      color: $white-200;
    }

    &:focus {
      border-bottom: 2px solid;
    }
  }
}

////
////
.search_select {
  width: 350px;

  @include tablet {
    width: 280px;
  }
}

.select_list:hover {
  outline: 2px solid $green-200;
}

.list_input {
  width: 100%;
  height: 100%;
  & > input {
    width: 100%;
    height: 30px;
  }
  & > input:focus {
    outline: none;
  }
}

.search {
  position: relative;

  &_wrap {
    width: 350px;
    max-height: 200px;
    box-shadow: 0 20px 60px -20px rgba(16, 16, 32, 0.4);
    position: absolute;
    overflow-y: auto;
  }
  &_list {
    width: 100%;
    height: 100%;
    background-color: $white-100;
    padding-top: 5px;

    display: flex;
    flex-direction: column;

    z-index: 10000;
  }
  &_item {
    width: 100%;

    display: flex;
    align-items: center;

    padding: 8px 16px;
    border-bottom: 1px solid $gray-light-400;
    cursor: pointer;

    &_name {
      padding-left: 25px;
      font-size: 18px;
      font-weight: bold;
    }
    &_image {
      & > img {
        width: 25px;
        height: 25px;
      }
    }
  }
}

.highlighted {
  background-color: $green-200;
}

.project {
  width: 100%;

  &_devide-year {
    display: flex;
    gap: 15px;
    padding: 10px;

    @include tablet {
      display: block;
    }
  }

  &_year {
    padding-top: 10px;
    font-weight: bold;
    color: $gray-600;
    @include tablet {
      margin-bottom: 15px;
    }
  }
  &_list {
    width: 100%;

    &_item {
      border: 2px solid #dee2e6;
      border-radius: 15px;

      font-size: 14px;
      color: $gray-600;
      gap: 10px;
      margin-bottom: 15px;
      padding: 5px 10px;
      @include displayFlex(row, space-between, center);

      @include tablet {
        padding: 5px 5px;
      }

      &_text {
        @include body_02;
        line-height: 24px;
      }

      &_box {
        width: 100%;

        @include tablet {
          width: 80%;
        }
      }

      &_title-date {
        padding: 10px;
        width: 100%;
        @include displayFlex(row, space-between, center);
        gap: 30px;

        & > :first-child {
          width: 50%;
        }
        & > :last-child {
          width: 50%;
        }

        @include tablet {
          padding-right: 0px;
          @include displayFlex(column, space-between, flex-start);
          gap: 20px;
          & > :first-child {
            width: 100%;
          }
          & > :last-child {
            width: 100%;
          }
        }
      }

      &_input {
        border: none;
        color: $gray-500;
        outline: none;
      }

      &_year_position {
        position: relative;
      }

      &_year {
        width: 100%;
        @include displayFlex(row, space-between, center);
        gap: 8px;
      }

      &_stack {
        width: 100%;
        display: flex;
        padding: 10px;
      }

      &_stack-list {
        width: 90%;

        & > ul {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-gap: 10px;

          @include tablet {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }

      &_description {
        display: flex;
        padding: 10px;
        @include tablet {
          padding-right: 0px;
        }
      }
    }

    &_button {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &_blank {
      min-height: 80px;
      @include displayFlex(row, center, center);

      & > span {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  &_item_name {
    @include displayFlex(row, flex-start, center);
    min-width: 65px;
    color: $green-500;
    @include body_02;
    line-height: 24px;
  }

  &_item_search {
    width: 100%;

    @include tablet {
      width: 80%;
    }
  }
}

.fl_bw {
  @include displayFlex(row, space-between, center);
}

.fl {
  width: 100%;
  display: flex;
}

/////
/////
/////

.project_container {
  display: flex;
  flex-direction: column;

  gap: 50px;
}

.myProject {
  width: 100%;
  &_selectContainer {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding-bottom: 30px;
  }

  &_project {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &_item {
    border: 2px solid $green-200;
    border-radius: 20px;
    width: 100%;
    padding: 18px;

    display: flex;
    align-items: center;
    gap: 18px;

    &_img {
      width: 44px;
      height: 44px;

      & > img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    &_wrap {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &_title {
        font-size: 18px;
        font-weight: bold;
      }

      &_description {
        color: $gray-500;

        & > :first-child {
          font-weight: bold;
          padding-bottom: 5px;
        }
      }
    }
  }
}

////
////
////

.evaluate {
  width: 95%;
  margin: 0 auto;
  padding: 15px 0;
  &_Box {
    margin-bottom: 43px;
    &_title {
      font-size: 20px;
      font-weight: bold;
      color: $gray-500;
      margin-bottom: 25px;
    }
  }
  &_chart-warp {
    width: 761px;
    height: 330px;
    margin: 0 auto;
    padding: 24px 45px;
    border: 2px solid $green-200;
    border-radius: 15px;

    @include tablet {
      width: 480px;
    }
  }

  &_chart {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;

    &_line {
      position: absolute;
      bottom: 20px;

      width: 100%;
      height: 2px;
      background-color: $gray-300;
      border-radius: 10px;
    }
    &_bars {
      width: 25%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;

      &_title {
        font-weight: bold;
        padding-top: 15px;
        color: $gray-500;
        @include heading_06;
      }

      &_score {
        --custom-value: initial;
        height: var(--custom-value);
        width: 100%;
        background-color: $green-200;
      }

      &_score_text {
        position: absolute;
        padding: 10px 15px;
        background-color: $green-400;
        border-radius: 24px;
        color: $white-100;
        font-size: 12px;
        font-weight: $weight-bold;

        @include displayFlex;
        gap: 3px;
      }

      &_score_title {
        font-size: 16px;
      }

      &_bar {
        width: 28px;
        height: 100%;
        display: flex;
        align-items: flex-end;
      }
    }
  }

  &_project {
    width: 90%;
    margin: 0 auto;

    @include tablet {
      width: 100%;
      margin: 0;
    }

    &_list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
      cursor: pointer;
    }
    &_item {
      border: 1px solid $green-200;
      border-radius: 15px;
      @include displayFlex(row, space-between, center);
      padding: 15px 24px;

      @include tablet {
        padding: 15px 15px;
      }

      &_user {
        width: 65%;
        display: flex;
        align-items: center;
        gap: 23px;

        @include tablet {
          width: 50%;
        }
      }
      &_scores {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        @include tablet {
          width: 50%;
        }

        & > div {
          display: flex;
          justify-content: space-between;
          gap: 37px;

          @include tablet {
            gap: 15px;
          }
        }
      }

      &_score {
        width: 50%;
        @include displayFlex(row, space-between, center);

        & > :first-child {
          color: $gray-500;
          @include body_01;

          @include tablet {
            font-size: 12px;
          }
        }
      }

      &_img {
        width: 45px;
        height: 45px;
        & > img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
        }
      }

      &_title {
        @include heading_04;
        color: $green-500;
      }
    }
  }
}

.score-border {
  border: 2px solid $green-200;
  border-radius: 100%;
  color: $green-200;
  font-size: 12px;
  font-weight: 900;

  width: 24px;
  height: 24px;

  @include displayFlex(row, center, center);
}

///
///
.projectEvaluate {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  &_title {
    font-size: 20px;
    font-weight: 700;
    color: $green-200;
  }
}

.badgeBox {
  border: 2px solid $green-200;
  border-radius: 25px;
  padding: 21px;
  @include displayFlex(row, space-between, center);
}

.badges {
  @include displayFlex(row, space-between, center);
  gap: 26px;
}

.badge {
  @include displayFlex(row, space-between, center);
  gap: 12px;
}

.badgeImage {
  width: 28px;
  height: 28px;
  background-color: #cccccc;
  border-radius: 100%;
}

.badge_divide {
  width: 5px;
  height: 5px;
  background-color: $gray-500;
  border-radius: 100%;
}

.badge_quantity {
  font-size: 18px;
  color: $gray-500;
  font-weight: 600;

  @include displayFlex(row, center, center);
  height: 28px;

  &_score {
    padding-top: 3px;
  }
}

.finalEvaluate {
  margin-top: 30px;
  border: 2px solid $green-200;
  border-radius: 25px;
  padding: 21px;

  &_users {
    padding-top: 18px;
  }

  &_user {
    display: flex;
    margin-bottom: 16px;
  }

  &_userImageWrap {
    padding: 5px;
  }

  &_userImage {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  &_userEval {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 47px 15px 24px;
  }

  &_userName {
    font-size: 18px;
    font-weight: bold;
    color: $gray-500;
  }

  &_userScores {
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
  }

  &_userScore {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &_part {
      display: flex;
      justify-content: space-between;
    }

    &_partTitle {
      color: $gray-500;
    }

    &_partScore {
      width: 26px;
      height: 26px;
      border: 2px solid $green-200;
      padding: 3px;
      border-radius: 100%;
      color: $green-200;
      font-weight: 700;
      font-size: 12px;
      @include displayFlex(row, center, center);
    }
  }

  &_userContent {
    font-size: 14px;
    color: $gray-500;
    font-weight: 600;
    padding: 0 14px;

    & > p {
      line-height: 200%;
    }
  }
}

.image_bg {
  background-color: $green-200;
  padding: 3px;
}

.project-no-item {
  min-height: 200px;
  font-weight: $weight-bold;

  @include displayFlex();
}

.w-f {
  width: 100%;
}
