.project-item {
  width: 800px;
  background-color: white;
  margin-bottom: 30px;
  padding: 30px;
  border: $border;
  border-radius: 35px;

  &-title {
    font-weight: bold;
    font-size: $link-font-size;
    font-style: $link-font;
  }
}
