.toggle-menu-button-wrapper {
  &,
  &-close {
    width: fit-content;
    height: fit-content;

    figure {
      width: 20px;
      height: 18px;

      background: {
        position: center;
        repeat: no-repeat;
        size: 100%;
      }
    }

    @include desktop {
        display: none;
    }

    @include tablet {
        display: none;
    }

    @include mobile {
      margin-top: auto;
    }
  }
}
