.toggle-menu-button-wrapper {
  &,
  &-close {
    width: fit-content;
    height: fit-content;
    position: relative;

    figure {
      width: 20px;
      height: 18px;
      z-index: 101;

      background: {
        position: center;
        repeat: no-repeat;
        size: 100%;
      }
    }

    @include desktop {
      display: none;
    }

    @include tablet {
      display: none;
    }

    @include mobile {
      margin-top: auto;
    }
  }

  &-close {
    .toggle-menu-button {
      position: absolute;
      right: -7px;
      top: -60px;
      height: 60px;
      width: 30px;
      background-color: white;
      z-index: 100;

      div {
        height: 100%;

        @include displayFlex(row, flex-start, flex-end);
      }
    }
  }

  .toggle-menu-button {
    position: fixed;
    right: 0px;
    top: 0;
    width: 163px;
    height: 905px;
    background-color: white;

    > div {
      height: 100%;
      width: 100%;
      margin: 0;

      @include displayFlex(column, flex-start, flex-end);
    }

    &-figure-wrapper {
      width: 100%;
      height: 72px;
      padding: 10px;
      border-bottom: 1px solid $gray-400;

      @include displayFlex(row, space-between, flex-end);
    }
  }

  .toggle-menu-button-link-wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;

    div {
      display: flex;
      margin-bottom: 15px;
    }

    figure {
      width: 15px;
      height: 14px;
      margin-right: 12px;
    }

    a {
      color: $gray-500;

      @include m_heading_02;
    }
  }

  & {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: rgba(122, 122, 122, 0.40);
  }
}
